@use '@/assets/styles/_vars' as vars;

.header {
  background: #3266ca;
  color: #fff;

  @media screen and (min-width: vars.$breakpointLgMin) {
    display: none;
  }
} // .header

.mainBar {
  padding: 16px 16px 14px;
  display: flex;
  justify-content: space-between;

  .logoField {
    line-height: 0;
  }

  .rightCol {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .actionBtn {
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    position: relative;

    :global {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .cartQuantityIcon {
    font-size: vars.$fontSizeXs;
    color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f44336;
    border-radius: 50%;
    line-height: 1;
  }

  .userBtn {
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;

    .userBtnImg {
      width: 100%;
      height: 100%;
    }
  }
} // .mainBar

.cateBar {
  padding-bottom: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;

  .cateBarInner {
    padding: 0 16px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .cateItem {
    margin-right: 16px;
    color: #fff;
    font-weight: 500;
    font-size: vars.$fontSizeSm;

    &:last-child {
      margin-right: 0;
    }

    &.isActive {
      color: #f79a23;
    }
  }
} // .cateBar
