.departmentGroupSkeleton {
  .groupHead {
    margin-bottom: 16px; 
  }

  .title {
    height: 48px;
    border-radius: 50px;
  }

  .groupBody {
    padding: 0 16px;
  }

  .item {
    line-height: 1;
  }
} // .departmentGroupSkeleton
