@use '@/assets/styles/_vars' as vars;

.mainPage {
  .mainPageInner {
    margin: 0 -12px; // remove margin of container in mobile

    @media screen and (min-width: vars.$breakpointLgMin) {
      margin: 0;
      display: flex;
    }
  }

  .sidebarCol {
    display: none;

    @media screen and (min-width: vars.$breakpointLgMin) {
      display: block;
      width: 240px;
      margin-right: 32px;
    }

    @media screen and (min-width: vars.$breakpointXlMin) {
      display: block;
      width: 260px;
      margin-right: 32px;
    }

    @media screen and (min-width: vars.$breakpoint2XlMin) {
      display: block;
      width: 304px;
      margin-right: 74px;
    }
  }

  .mainCol {
    flex: 1 1;
  }
} // .mainPage
