@use '@/assets/styles/_vars' as vars;

.categoryBox {
  .boxHead {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;

    .boxHeadIconField {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #76a9ff;
      transition: 0.3s;
    }

    .boxHeadRightCol {
      padding: 8px 0;
    }

    .boxTitle {
    }

    .boxSubTitle {
      font-size: vars.$fontSizeSm;
      color: vars.$secondary1;
    }
  } // .boxHead

  .boxBody {
    display: none;
  } // .boxBody

  .cateItem {
    display: block;
    padding: 8px 0 8px 48px;
  }

  .showMoreBtn {
    margin-left: 48px;
    height: 40px;
    padding: 0 20px;
    font-size: vars.$fontSizeSm;
    font-weight: 700;
    font-family: vars.$fontRoboto;
    border: 0;
    border-radius: 4px;
    color: vars.$primary1;
    background: #ebf2ff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    .showMoreBtnLabel {
      margin-right: 16px;
    }

    .showMoreBtnIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      color: #787885;
      transition: 0.3s;
    }

    &.isShowLess {
      .showMoreBtnIcon {
        transform: rotate(180deg);
      }
    }
  } // .showMoreBtn

  &.isExpanded {
    .boxHead {
      .boxHeadIconField {
        transform: rotate(90deg);
        color: vars.$primary1;
      }
    } // .boxHead

    .boxBody {
      display: block;
    }
  } // &.isExpanded
} // .categoryBox
