.alert {
  margin-bottom: 16px;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-radius: 8px;

  &.isDanger {
    background: #f8d7da;
    border-color: #f1aeb5;
  }

  &.isWarning {
    background: #fff3cd;
    border-color: #ffe69c;
  }

  &.isSuccess {
    background: #d1e7dd;
    border-color: #a3cfbb;
  }
} // .alert
